<div class="actions">
  <app-uploader></app-uploader>
  <div class="spacer"></div>
  <button
    [disabled]="analiseAoVivo"
    class="button"
    (click)="analisar()"
    color="accent"
    mat-raised-button
    (document:keydown.control.enter)="
      $event.preventDefault(); analiseAoVivo = false; analisar()
    "
  >
    Executar análise léxica
    <span class="hotkey">ctrl+enter</span>
  </button>
  <mat-slide-toggle
    (change)="analiseAoVivo ? analisar() : null"
    [(ngModel)]="analiseAoVivo"
    color="accent"
    >Analisar ao vivo</mat-slide-toggle
  >
  <mat-icon
    class="outlined tip"
    matTooltip="Analisar ao vivo faz com que o código-fonte seja analisado em tempo real."
    >help_outline</mat-icon
  >
</div>
<div class="editor-container">
  <div class="line-numbers" #lineNumbersContainer>
    <div
      #lineNumberItem
      class="line-number"
      *ngFor="let el of lineNumbers; let i = index"
    >
      <span>{{ i + 1 }}</span>
    </div>
  </div>
  <textarea
    type="text"
    class="editor"
    (keyup)="parseLines()"
    (keydown)="parseLines($event)"
    #editor
  ></textarea>
  <!-- >
teste = (1 + 2) > 4;
a = 25.9;
b = 3;
c = a + b;
d = c > 4;</textarea -->
</div>
