table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}


.element-detail {
  overflow: hidden;
  display: flex;
}

.element-row {
  cursor: pointer;
}

.code-line {
  padding: 8px 16px;
  font-family: monospace;
}

.element-row:not(.expanded-row):hover {
  background-color: #505050;
}