<h1>HACKED BY</h1>
<div class="container">
  <div class="student">
    <img src="./assets/icons/alexandre.jpg" alt="" />
    <div class="name">Alexandre Folkl</div>
    <div class="ra">888888888</div>
  </div>

  <div class="student">
    <img src="./assets/icons/heitor.jpg" alt="" />
    <div class="name">Heitor D. V. Gomes</div>
    <div class="ra">181255261</div>
  </div>

  <div class="student">
    <img src="./assets/icons/rafael.png" alt="" />
    <div class="name">Rafael A. Chinaglia</div>
    <div class="ra">181253992</div>
  </div>
</div>
