<div class="container">
  <mat-form-field color="accent" appearance="fill" (valueChanges)="textExp = text.value">
    <mat-label>Digite uma fórmula</mat-label>
    <input matInput type="text" id="exp" size="5" [value]="textExp" #text />
  </mat-form-field>
  <p>ex: 3.2 + ( 2 * 12.01 )</p>
  <!-- <button mat-raised-button color="primary" (click)="analizadorLexico(text.value)">Parse!</button><br> -->
  <br>
  <button
    mat-raised-button
    color="accent"
    (click)="parseByDivider(text.value)"
  >
    Análise léxica!</button
  ><br />
  <table class="table">
    <tr *ngFor="let line of results">
      <td>{{ line.token }}</td>
      <td>=></td>
      <td>{{ line.meaning }}</td>
    </tr>
  </table>
</div>
